body{
    display: flex;
    height: 100vh;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}
#time{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
button{
    cursor: pointer;
}
